{% extends 'upload/base.html' %}

{% block title %}Uploaded Data{% endblock %}

{% block content %} 

<!-- Aligned Summarize Button to the Right -->
<div class="d-flex justify-content-end">
    <form method="post" action="{% url 'summarize_data' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            <i class="bi bi-bar-chart-line"></i> Summarize Data
        </button>
    </form>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h3>Uploaded Data</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {{ data_html|safe }}
        </div>
    </div>
</div>


{% endblock %}
